body {
    background-image: url("../images/miner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

 #MainWindow {
    position: fixed; 
    /* background-color: black; */
    /* border: 5px solid black; */
    margin-right: 60%;
    height: 700px;
    padding: 15px;

}

.header {
    margin-right: 60%;
}