body {
    background-image: url(../images/miner.jpg)
}

.header{
    text-align: center;
}

#mainWindow {
    padding: 20px;
}

.Instructions{
    border: 5px solid black;
}

.crystals{
    display: flex;
    justify-content: space-around;
    background-origin: 5px solid red;
    align-items: center;
}

.crystalImg {
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid white;

}

#crystalImg0 {
    background-image: url(../images/red.png);
    
}

#crystalImg1 {
    background-image: url(../images/blue.png)
}

#crystalImg2 {
    background-image: url(../images/green.png)

}

#crystalImg3 {
    background-image: url(../images/orange.png)
}

